* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fa;
}


/* SIDEBAR */

.sidebar {
    width: 220px;
    height: 100vh;
    background: #0b6e4f;
    color: white;
    position: fixed;
}

.sidebar h2 {
    padding: 25px 15px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.sidebar a:hover {
    background: #09543d;
}


/* MAIN */

.main {
    margin-left: 220px;
    padding: 30px;
}


/* HEADER */

.header {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
}

.header h1 {
    color: #0b6e4f;
    margin-bottom: 8px;
}


/* SECTION */

.section {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
}

.section h2 {
    color: #0b6e4f;
    margin-bottom: 20px;
}


/* MEDICINE */

.medicine {
    width: 190px;
    padding: 20px;
    margin: 10px;
    background: #f4f7fa;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
}

.medicine span {
    font-size: 40px;
}

.medicine h3 {
    margin: 10px;
}

.medicine p {
    color: #666;
    margin-bottom: 10px;
}

.medicine h4 {
    color: #0b6e4f;
    margin-bottom: 15px;
}


/* INPUT */

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* ADD TO CART */

button {
    background: #0b6e4f;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #09543d;
}


/* CART TABLE */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #0b6e4f;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.total {
    text-align: right;
    margin-top: 20px;
    color: #0b6e4f;
}


/* PAYMENT BUTTON */

.pay-button {
    display: inline-block;
    background: #0b6e4f;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.pay-button:hover {
    background: #09543d;
}


/* PROFILE */

#profile p {
    margin: 10px;
}