*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0B6E4F;
}

.container{
width:900px;
height:500px;
background:white;
display:flex;
border-radius:12px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

.left{
width:45%;
background:#0B6E4F;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;
text-align:center;
}

.right{
width:55%;
display:flex;
justify-content:center;
align-items:center;
}

form{
width:80%;
}

h2{
margin-bottom:25px;
text-align:center;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box i{
position:absolute;
left:15px;
top:15px;
color:#0B6E4F;
}

.input-box input{
width:100%;
padding:12px 12px 12px 45px;
border:1px solid #ccc;
border-radius:6px;
outline:none;
}

button{
width:100%;
padding:12px;
background:#0B6E4F;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:17px;
margin-top:10px;
}

button:hover{
background:#09543d;
}

p{
margin-top:20px;
text-align:center;
}

a{
color:#0B6E4F;
text-decoration:none;
font-weight:bold;
}